<!--The content below is only a placeholder and can be replaced.-->

<!-- Navbar -->
<nav class="nav-wrapper">
      <a href="/home" class="brand-logo">UBPA</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">WHO</a></li>
        <li><a href="#">WHAT</a></li>
        <li> <a href="#">WHERE</a></li>
        <li><a href="/login"><button  class="btn btn-default" id="login-btn">Login</button></a></li>
      </ul>
</nav><!-- End Navbar -->


<router-outlet></router-outlet>




