# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist

# dependencies
**/node_modules
**/package-lock.json

# IDEs and editors
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/*.idea
**/.vscode/*
**/!.vscode/settings.json
**/!.vscode/tasks.json
**/!.vscode/launch.json
**/!.vscode/extensions.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/testem.log
frontend/typings

# System Files
**/.DS_Store
**/Thumbs.db

#sensitive_data
**/remote-conn.json
backend/src/secret.json
backend/src/__tests__/test_config.js
**/key
**/secret.json
**/logs

