<!--<h2 id="table-title" class="center-align"> Flight Logs </h2>-->
<!--<div class="container">-->

    <!--<table id = "logsTable" class="table-hover table-" cellspacing="10" width="100%">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th class="center-align">Date</th>-->
            <!--<th class="center-align">Pic</th>-->
            <!--<th class="center-align">A/C</th>-->
            <!--<th class="center-align">Dep</th>-->
            <!--<th class="center-align">Dest</th>-->
            <!--<th class="center-align">T/O</th>-->
            <!--<th class="center-align">Lan-<br>dings</th>-->
            <!--<th class="center-align">Total<br>Time</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr *ngFor="let log of logs">-->
            <!--<td class="center-align">{{formatDate(log.date)}}</td>-->
            <!--<td class="center-align">{{log.pic.firstName}} {{log.pic.lastName}}</td>-->
            <!--<td class="center-align">{{log.ac.abreviation}}</td>-->
            <!--<td class="center-align">{{log.departure}}</td>-->
            <!--<td class="center-align">{{log.destination}}</td>-->
            <!--<td class="center-align">{{log.takeoffs}}</td>-->
            <!--<td class="center-align">{{log.landings}}</td>-->
            <!--<td class="center-align">{{log.total}}</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</div>-->
<mat-card>

    <span class="done">
        <button (click)="homeBtnClick()" id="home-button" mat-fab>
          <mat-icon>home</mat-icon>
        </button>
    </span>

    <span *ngIf="isSignedIn" class="done">
        <button routerLink="/log/form" id="add-button" mat-fab>
          <mat-icon>add</mat-icon>
        </button>
    </span>

</mat-card>


<div class="container mat-elevation-z8">

    <div class="row">
        <!--<mat-icon>add</mat-icon> <button type="" *ngIf="isAdmin">Edit</button> <button *ngIf="isAdmin" type="">Delete</button>-->
    </div>
    <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{formatDate(log.date)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pic">
        <mat-header-cell *matHeaderCellDef> PIC </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.pic.firstName}} {{log.pic.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="sic">
        <mat-header-cell *matHeaderCellDef> SIC </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.sic.firstName}}  {{log.sic.lastName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="ac">
        <mat-header-cell *matHeaderCellDef> AC </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.ac.abreviation}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dep">
        <mat-header-cell *matHeaderCellDef> Dep </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.departure}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dest">
        <mat-header-cell *matHeaderCellDef> Dest </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.destination}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="imc">
        <mat-header-cell *matHeaderCellDef> IMC </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.imc}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="night">
        <mat-header-cell *matHeaderCellDef> Night </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.night}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
        <mat-cell *matCellDef="let log"> {{log.total}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsDef"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsDef"></mat-row>
    </mat-table>
    <mat-paginator
            #paginator
                    [length]="100"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>