<h2 id="table-title" class="center-align"> Flight Logs </h2>
<div class="container">
    <button type="">New</button> <button type="">Edit</button> <button type="">Delete</button>
    <table id = "myTable" class="striped responsive-table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="center-align">Date</th>
            <th class="center-align">Pic</th>
            <th class="center-align">A/C</th>
            <th class="center-align">Dep</th>
            <th class="center-align">Dest</th>
            <th class="center-align">T/O</th>
            <th class="center-align">Lan-<br>dings</th>
            <th class="center-align">Total<br>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">Felipe</td>
            <td class="center-align">PA-28</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
            <td class="center-align">1.3</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">Arun</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KALB</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">Derrick</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>

        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">PA-28</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">PA-28</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">C-172</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        <tr>
            <td class="center-align">2/26/18</td>
            <td class="center-align">John</td>

            <td class="center-align">PA-28</td>
            <td class="center-align">KBUF</td>
            <td class="center-align">KHPN</td>
            <td class="center-align">1</td>
            <td class="center-align">1</td>
        </tr>
        </tbody>
    </table>
</div>
