<h2 id="table-title" class="center-align"> Flight Logs </h2>
<div class="container">
    <button (click)="newBtnClick()" *ngIf="isSignedIn">New</button> <button type="" *ngIf="isAdmin">Edit</button> <button *ngIf="isAdmin" type="">Delete</button>
    <table id = "logsTable" class="table-hover" cellspacing="10" width="100%">
        <thead>
        <tr>
            <th class="center-align">Date</th>
            <th class="center-align">Pic</th>
            <th class="center-align">A/C</th>
            <th class="center-align">Dep</th>
            <th class="center-align">Dest</th>
            <th class="center-align">T/O</th>
            <th class="center-align">Lan-<br>dings</th>
            <th class="center-align">Total<br>Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let log of logs">
            <td class="center-align">{{formatDate(log.date)}}</td>
            <td class="center-align">{{log.pic.firstName}} {{log.pic.lastName}}</td>
            <td class="center-align">{{log.ac.abreviation}}</td>
            <td class="center-align">{{log.departure}}</td>
            <td class="center-align">{{log.destination}}</td>
            <td class="center-align">{{log.takeoffs}}</td>
            <td class="center-align">{{log.landings}}</td>
            <td class="center-align">{{log.total}}</td>
        </tr>
        </tbody>
    </table>
</div>

