



<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Wanna get high?</h3>
  <img src="../assets/logo/ubpa_logo_black.png" class="img-responsive margin" style="display:inline" alt="Bird" width="350" height="350">
  <h2>UB Pilot's Association</h2>
  <h3> Come Fly With Us!!! </h3>
</div>

<!-- Second Container -->
<div id="app-component-sim-banner" class="container-fluid bg-2">

</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">What we do...</h3><br>
  <!--<div class="row hidden-xs">-->
  <!--<div class="col-sm-4">-->
  <!--<p>We fly together</p>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
  <!--<p>We hang together</p>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
  <!--<p>We spread our knowledge and passion for flight</p>-->
  <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col-sm-4">
      <div class="row">
        <p>We Fly Together</p>
      </div>
      <div class="row thumbnail-row">
        <img class="img-thumbnail" src="../assets/el_presidente.jpg"  style="width:100%" alt="Image">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <p>We hang together</p>
      </div>
      <div class="row thumbnail-row">
        <img class="img-thumbnail" src="../assets/yournot_maverick.jpg"  style="width:100%" alt="Image">
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <p>We discuss aviation</p>
      </div>
      <div class="row">
        <img class="img-thumbnail thumbnail-row" src="../assets/maverick.jpg"  style="width:100%" alt="Image">
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center" >
  <p>Your a pirate!!!
  </p>
</footer>
<router-outlet></router-outlet>
