



<!-- First Container -->
<div class="section bg-1 center-align">
  <h3 id="cool-phrase" class="margin">lets get high</h3>
  <img src="../assets/logo/ubpa_logo_black.png" class="responsive-img" style="display:inline" alt="UBPA Logo" width="350" height="350">
  <h2>UB Pilot's Association</h2>
  <div class="container">
  </div>
  <p></p>
</div>

<!-- Second Container -->
<div id="app-component-sim-banner" class="container-fluid bg-2">

</div>

<!-- Third Container (Grid) -->
<div class="section bg-3 center-align">
  <h3 class="margin">What we do...</h3><br>
  <!--<div class="row hidden-xs">-->
  <!--<div class="col-sm-4">-->
  <!--<p>We fly together</p>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
  <!--<p>We hang together</p>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
  <!--<p>We spread our knowledge and passion for flight</p>-->
  <!--</div>-->
  <!--</div>-->
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/el_presidente.jpg"  alt="Image">
          <div class="card-content"><p>We fly together</p></div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/yournot_maverick.jpg"  alt="Image">
          <div class="card-content"><p>We hang together</p></div>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="../assets/maverick.jpg"  alt="Image">
          <div class="card-content"><p>We discuss aviation</p></div>
        </div>
      </div>
    </div>
  </div>
</div>

        <!--<p>We hang together</p>-->
      <!--</div>-->
      <!--<div class="row thumbnail-row">-->
        <!--<img class="img-thumbnail" src="../assets/yournot_maverick.jpg"  style="width:100%" alt="Image">-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col s4">-->
      <!--<div class="row">-->
        <!--<p>We discuss aviation</p>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<img class="img-thumbnail thumbnail-row" src="../assets/maverick.jpg"  style="width:100%" alt="Image">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- Footer -->

<router-outlet></router-outlet>