
<div class="container">
  <div *ngFor="let log of logs; let i = index" [attr.data-index]="i">
  <mat-card>
  <mat-grid-list cols="6" rowHeight="4:1">
    <mat-grid-tile>PIC: {{log.pic.firstName}} {{log.pic.lastName}}</mat-grid-tile>
    <mat-grid-tile>Dep: {{log.departure}}</mat-grid-tile>
    <mat-grid-tile>Dest: {{log.destination}}</mat-grid-tile>
    <mat-grid-tile>TT: {{log.total}}</mat-grid-tile>
    <mat-grid-tile><button (click)="approveClick(i)" class="btn btn-success">Approve</button></mat-grid-tile>
    <mat-grid-tile><button (click)="deleteClick(i)" class="btn btn-danger">deny</button></mat-grid-tile>
  </mat-grid-list>
  </mat-card>
  </div>
</div>