<html>
<head>
  <meta charset="utf-8">
<title> Admin Page </title>

</head>
<body>
<div class="container">
<ul>
<li><div class="title"> Conformation

<div class="text">
<button class="button" style="verticle-aling:middle"><span> Whose New! </span></button>
<br>
<span class="label success"> Check who is signing up to the team</span>
</div>
</div>
</li>
<li><div class="title"> Check User
<div class="text">
<button class="button2" style="verticle-aling:middle"><span> User! </span></button>
<br>
<span class="label success"> Check the number of users </span>
</div>
</div>
</li>
<!-- <li><div class="title"> Headerbox2
<a href="#" class="btn2"> Decline New User </a>
</div>
</li> -->
</ul>
</div>
</body>
</html>
