<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <form class="form-horizontal" action="/action_page.php">
        <div class="form-group">

          <input placeholder="User Name" type="text" class="form-control" id="email">

          <input placeholder="Password" type="password" class="form-control" id="pwd">
          <button type="submit" formmethod="post" class="btn btn-default">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>