<div class="container" >
  <form  action="#" *ngIf="showForm">
    <div class="input-field">
      <div class="row">
        <div class="col s10 m8 offset-m2 offset-s1">
          <i class="material-icons prefix">account_box</i>
          <input placeholder="User Name" type="text"  id="email" (keyup)=setUser($event)>
        </div>
      </div>
      <div class="row">
        <div class="col s10 m8 offset-m2 offset-s1">
          <i class="material-icons prefix">lock</i>
          <input id="password" placeholder="Password" type="password" (keyup)=setPassword($event)>
        </div>
      </div>
      <div class="row">
        <div class="col s4 m7 offset-s1 offset-m2">
          <a id="submit-btn"  (click)="submit()" class="waves-effect waves-light btn" >Submit</a>
          <a id="signup-btn"  class="waves-effect waves-light btn" routerLink="/signup">Signup</a>
        </div>
      </div>
    </div>
  </form>

</div>
<div id="loginScreen" *ngIf="showWaiting">
  <h1>{{waitingMessage}}</h1>
  <div class="preloader-wrapper big active" >
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle">
        </div>
      </div>
      <div class="gap-patch">
        <div class="circle">
        </div>
      </div>
      <div class="circle-clipper right">
        <div class="circle">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="successScreen" *ngIf="showSuccess">
  <h1>{{waitingMessage}}</h1>
  <a id="signout-btn"  (click)="signOut()" class="waves-effect waves-light btn" >sign out</a>
</div>

