<div class = "wrap">
  <form>

    <h2> Join Us For Flight!</h2>
    <div class="input-field">
      <!--<i class="material-icons">account_box</i>-->
      <div class="input-field">
        <input type= "text" name ="username" placeholder="Username">
      </div>

      <div class="input-field">
        <input type= "password" name ="password" placeholder="Password">
        <input type="submit" value= "Login">
      </div>
      <br>
      <h3> Need a Ticket? </h3>
      <input type="submit" value= "Join Us!">
  </form>
</div>

