/* You can add global styles to this file, and also import other style files */

@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Merriweather+Sans|Share+Tech+Mono');

body {
    line-height: 1.8;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    color: #f5f6f7;
}

p {font-size: 16px;}

.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #005bbb;
    /*background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 12px;
    letter-spacing: 5px;
}


.navbar-default .navbar-nav>li>a {
    font-family: 'Merriweather Sans', sans-serif;
}

.navbar-nav  li a:hover {
    color: #005bbb !important;
}