

<div class = "wrap">
  <form>

    <h2> Join Us For Flight!</h2>
    <br>


    <div class="input-field">
      <!--<i class="material-icons">account_box</i>-->
    <input type= "text" name ="first" placeholder="First Name">
    </div>

    <div class="input-field">
      <!--<i class="material-icons">account_box</i>-->
      <input type= "text" name ="last" placeholder="Last Name">
    </div>


    <div class="input-field">
      <input type= "email" name ="email" placeholder="Email">
    </div>

    <div class="input-field">
      <input type= "text" name ="username" placeholder="Username">
    </div>

    <div class="input-field">
      <input type= "password" name ="password" placeholder="Password">
    </div>
    <!--        <input type= "confirm" name ="repassword" placeholder="Confirm Password">-->

    <!--<option> Level of Expertise </option>-->
    <!--<select name = "Level Of Expreince" >-->
      <!--<option value = "beginner"> Beginner </option>-->
      <!--<option value = "intermidiate"> Intermidiate </option>-->
      <!--<option value = "expert"> Expert </option>-->
    <!--</select>-->
    <br>
    <br>
    <input type="submit" value= "Join Us!">
  </form>
</div>



