<div class = "wrap">
    <form  #formCtrl="ngForm">
        <h2> Join Us </h2>
        <br>
      <div class = "input-field" class="form-group">
          <div class = "row">
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="model.firstname" placeholder = "First Name" name="firstname" #firstname="ngModel" [ngModelOptions]="{ updateOn: 'change' }"> <label name = "starLabel">*</label>
        </div>
        <div [hidden]="firstname.valid || firstname.pristine" class="alert alert-danger">
          First name is required
        </div>
      </div>
  
      <div class="form-group">
          <div class = "row">
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="model.lastname" placeholder="Last Name" name="lastname" #lastname="ngModel" [ngModelOptions]="{ updateOn: 'change' }"> <label name = "starLabel">*</label>
        </div>
        <div [hidden]="lastname.valid || lastname.pristine" class="alert alert-danger">
          Last name is required
        </div>
      </div>
  
      <div class="form-group">
          <div class = "row">
          <input type="email" class="form-control" email ubEmail id="email"  required = "required" [(ngModel)]="model.email" placeholder="Email" name="email" #email="ngModel" [ngModelOptions]="{ updateOn: 'change' }"> <label name = "starLabel">*</label>
          </div>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Valid @buffalo.edu Email Required
          </div>
        </div>
        
        <div class="form-group">
            <div class = "row">
            <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" class="form-control"  id="password" required [(ngModel)]="model.password" placeholder="Password" name="password" #password="ngModel" [ngModelOptions]="{ updateOn: 'change' }"> <label name = "starLabel">*</label>
            </div>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Password requirements: 
              <br>
              <ol>
              Be a minimum of 8 characters.
              <br>
              Contain atleast 1 uppercase and 1 lowercase letter.
              <br>
              Contain atleast 1 special character.
            </ol>
            </div>
          </div>

          <div class="form-group">
            <div class = "row">
              <input type="password" class="form-control" id="password2" required [(ngModel)]="model.password2" [confirmPass]="password" placeholder="Confirm Password" name="password2" #password2="ngModel" [ngModelOptions]="{ updateOn: 'change' }"> <label name = "starLabel">*</label></div>
              <div [hidden]="password2.valid || password2.pristine" class="alert alert-danger">
                  Passwords do not match
                </div>
            </div>
            <div [hidden]= "!showAlert" class="alert alert-danger">{{alertMessage}}</div>
            <button [disabled]="!formCtrl.form.valid" name = "submitButton" class="btn btn-primary" (click) = "onSubmit()">Submit</button>
            <br>
            <br>

    </form>
    
  </div>