<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">Flight Simulation Room - Bell 330
          <br> Open 6:30pm to 8:30pm Mon-Fri</p>
      </div>

      <div class="col-md-4">
        <h4 class="text-uppercase mb-4">Contact</h4>
        <p class="lead mb-0"><a href="mailto:ub.pilotsassociation@gmail.com">ub.pilotsassociation@gmail.com</a></p>
      </div>
    </div>
  </div>
</footer>
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>Copyright &copy; UBPA 2018</small>

  </div>
</div>